$side-image-background-top: #B5EBEB;
$side-image-background-bottom: #5DAC5D;
$side-image-border: 1px solid darken(transparentize($side-image-background-bottom, .8), 30);

.side-image {
  @include row();
  background: white;

  .images-wrapper {
    display: block;
    min-height: 12em;
    padding: 0;
    @include span-columns(12);

    @include media(768px) {
      @include span-columns(7);
    }
  }

  .content {
    @include span-columns(12);
    @include omega();
      padding: 0;

    @include media(768px) {
      @include span-columns(5);
      padding: 0;
    }
  }

  .content h1 {
    margin-bottom: .9em;
  }

  .content h4 {
    color: white;
    display: inline-block;
    font-size: .75em;
    font-weight: 800;
    margin-bottom: 1.3em;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  .content p {
    color: gray;
    margin-bottom: 3em;
  }

  .content button {
    @include button(simple, white);
    font-size: 16px;
    outline: none;
  }

}