.site-header {
  @include row;

  .site-description {
    display: none;
  }

  .site-branding {
    @include span-columns(4);
  }

  nav {
    @include span-columns(8);
    @include omega();

    ul {
      text-align: right;

      li {
        margin-left: em(10);
      }
    }
  }
}